<h1>Listing template_models</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_models.each do |template_model| %>
      <tr>
        <td><%= template_model.text %></td>
        <td><%= link_to 'Show', template_model %></td>
        <td><%= link_to 'Edit', edit_template_model_path(template_model) %></td>
        <td><%= link_to 'Destroy', template_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template model', new_template_model_path %>
